.about-me {
  @include flex(center, center, row nowrap);
  height: 100vh;
  color: $c-white;

  h2 {
    font-weight: 900;
    font-size: 4rem;
    margin-bottom: 5rem;
    @include desktop{
      font-size: 7rem;
      margin-bottom: 2rem;
    }
  }

  p {
    @include desktop {
      font-size: 1.8rem;
      width: 70%;
    }
  }

  .frontend {
    background: #363839;
  }

  .past {
    background: #d1d3d4;
  }

  .hobbies {
    background: #FA4F5B;
  }
}

.about-container {
  display: flex;
  text-align: left;
  height: 33.33vh;

  ul li {
    word-spacing: 2rem;
    text-decoration: none;
    list-style: none;
    text-transform: uppercase;
  }

  .about-text-container {
    @include flex(center, flex-start, column nowrap);
    padding-left: 5rem;
  }

}