body {
  font-family: 'Raleway', sans-serif;
}


// Hero text


.et-hero-tabs {
  width: 100%;
  height: 100vh;
  background: #4774e6;
  background: -moz-linear-gradient(-45deg, #4774e6 0%, #1f1e8a 100%);
  background: -webkit-linear-gradient(-45deg, #4774e6 0%, #1f1e8a 100%);
  background: linear-gradient(135deg, #1f1e8a 0%, #4774e6 100%);
  color: #fff;
  text-align: center;

  .hero-top-title {
    @include flex(flex-start, center, row nowrap);
    padding: 10px;
    font-size: 0.9rem;
  }

  .hero-container {
    max-width: 1280px;
    margin: 0 auto;

    .hero-text {
      @include flex(center, flex-start, row nowrap);
      margin: 0 auto;
      @include desktop {
        width: 50%;
        align-items: center;
        text-align: left;
        padding-left: 40px;
        padding-right: 40px;
      }

      .hero-text-wrapper {
        width: 345px;
        @include desktop {
          width: 100%;
        }

        h2 {
          @include desktop {
            line-height: 1.2;
          }
        }
      }
    }

    .hero-pola {
      @include flex(center, center, row nowrap);
      line-height: 1.1;

      @include desktop {
        justify-content: flex-end;
        line-height: 1.2;
      }
    }

    .half {
      width: 100%;
      height: 45vh;
      @include desktop {
        width: 50%;
        height: 100vh;
        float: left;
      }

      .hero-title {
        width: 100%;
        font-size: 3rem;
        text-transform: uppercase;
        @include desktop {
          border-right: 5px solid #fff;
          font-size: 10rem;
        }
      }
    }
  }


  h1 {
    font-weight: bolder;
    text-transform: uppercase;
    color: $white;
    font-size: 2.5rem;
    margin: 0;
    letter-spacing: 0.5rem;
  }

  h2 {
    line-height: 2rem;
    text-transform: capitalize;
    color: $white;
    font-weight: bold;
    font-size: 1.3rem;
    letter-spacing: 0.3rem;
    @include desktop {
      font-size: 2.9rem;
    }
  }

  p {
    padding-top: 1rem;
    color: $white;
    font-size: 1rem;
    @include desktop {
      padding-top: 10px;
      font-size: 1.5rem;
    }
  }

}

.et-hero-tabs-container {
  @include flex(null, null, row nowrap);
  position: absolute;
  bottom: 0;
  width: 100%;
  min-width: 320px;
  max-width: 1240px;
  height: 70px;
  z-index: 10;
  margin: 0 auto;

  &--top {
    position: fixed;
    top: 0;
  }
}

.et-hero-tab {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  color: $white;
  letter-spacing: 0.1rem;
  transition: all 0.5s ease;
  font-size: 0.8rem;

  &:hover {
    color: black;
    background: #f7515e;
    transition: all 0.5s ease;
  }
}

.et-hero-tab-slider {
  position: absolute;
  bottom: 0;
  width: 0;
  height: 6px;
  background: $white;
  transition: left 0.3s ease;
}

@media (min-width: $tablet-width) {
  .et-hero-tabs,
  .et-slide {
    h1 {
      font-size: 3rem;
    }

    h3 {
      font-size: 1rem;
    }
  }
  .et-hero-tab {
    font-size: 1rem;
  }
}


.line {
  position: absolute;
  display: block;
  height: 100vh;
  width: 1px;
  background: #3E3E4E;
  opacity: 0.5;
}

.firstOverlayLine {
  left: 20%;
}

.secondOverlayLine {
  left: 40%;
}

.thirdOverlayLine {
  left: 60%;
}

.fourthOverlayLine {
  left: 80%;
}


.et-slide-body {
  align-self: center;
  height: 106vh;
  position: relative;
  background: $primary__color;
  text-align: left;
  padding: 0 2em;

}