.hide {
  -webkit-animation: fadeOut 150ms ease;
  animation: fadeOut 150ms ease;
  opacity: 0;
}

@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.hide {
  display: none;
}

.controls {
  margin-bottom: 2rem;


  ul {
    list-style: none;
    padding: 1rem;
    margin: 0;
    display: flex;
  }

  ul li {
    margin: 0;
    padding: 0.5rem;
    border: 1px solid #eee;
    cursor: pointer;
    @media (min-width: 400px) {
      .controls ul li {
        margin-right: 1rem;
        padding: 1rem;
      }
    }
  }

  ul li:hover {
    background: #eee;
  }
}


.controls ul .active {
  background: #444;
  color: white;
}

.controls ul .active:hover {
  color: #444;
}

.grid-wrapper {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: auto;
  grid-gap: 1rem;
  justify-items: center;
  margin: 1rem;
}

@media (min-width: 500px) {
  .grid-wrapper {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 768px) {
  .grid-wrapper {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 1368px) {
  .grid-wrapper {
    grid-template-columns: repeat(4, 1fr);
  }
}

.image {
  width: 100%;
  height: 50vh;
}

@media (min-width: 500px) {
  .image {
    width: 100%;
    height: 50vw;
  }
}

@media (min-width: 768px) {
  .image {
    width: 100%;
    height: 40vw;
  }
}

@media (min-width: 1368px) {
  .image {
    width: 100%;
    height: 20vw;
  }
}

.urban-1 {
  @include background(url('../../images/urban1.jpg'));
}

.urban-2 {
  @include background (url('../../images/urban2.jpg'))
}

.urban-3 {
  @include background (url('../../images/urban3.jpg'))
}

.urban-4 {
  @include background (url('../../images/urban4.jpg'))

}

.landscape-1 {
  @include background (url('../../images/landscape1.jpg'))
}

.landscape-2 {
  @include background (url('../../images/landscape2.jpg'))
}

.landscape-3 {
  @include background (url('../../images/landscape3.jpg'))
}

.landscape-4 {
  @include background (url('../../images/landscape4.jpg'))
}

.portrait-1 {
  @include background (url('../../images/portrait1.jpg'))
}

.portrait-2 {
  @include background (url('../../images/portrait2.jpg'))
}

.portrait-3 {
  @include background (url('../../images/portrait3.jpg'))
}

.portrait-4 {
  @include background (url('../../images/portrait4.jpg'))
}
